*
{
   margin: 0;
    padding:0;
}

#navbar

{

    position: sticky;

    top: 0;

    z-index: 10;

}

.navbar-brand img

{

    height: 70px;

    padding-left: 30px;

}

/*----------------Services----------*/#myMenu
{
    width: 100%;
    height: 30px;
    z-index: 999; 
    background-color: #252e30;

}
.myWrapper
{
    max-width: 660px;
    margin: 0 auto;
}

.logo
{
    display: inline-block;
    width: 156px;
    height: 30px;
        margin-top: 5px;
        background-size: auto 43px;
    background-image: url(../images/mylogo.png);
    background-repeat: no-repeat;
}


#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img2-anjana.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services 
{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
    
}
#services h1::after
{
    content:'';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
   margin-top: 40px; 
}
.icon
{
 font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top:20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background:#007bff;
    cursor: pointer;
    transition: 0.7s;
}
            
/*----------Footer-------*/
#footer
{
    background: #333;
    color: #fff;
    padding: 12px;
    height: 120px;
}
.fa-heart-o
{
    margin: 3px;
    color: green;
  
}
.icon{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
   
}